.panel {
  align-items: center;
  background-color: rgb(224, 111, 111);
  border: 4px rgb(0, 3, 8) solid;
  border-radius: 8px;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  padding: 20px;
  text-align: center;
  width: 400px;
  z-index: 5;
}

#game-start > h1 {
  font-size: 32px;
  margin-bottom: 20px;
}

h1 {
  color: #B31;
  font-family: 'Berkshire Swash', cursive;
  font-size: 48px;
  margin: 0px;
  margin-bottom: 20px;
}

h3 {
  color: rgb(0, 3, 3);
  font-family: 'Quicksand', sans-serif;
  font-size: 28px;
  font-weight: bold;
  margin: 0px;
  margin-bottom: 20px;
}

h4 {
  color: rgb(145, 43, 51);
  font-family: 'Quicksand', sans-serif;
  font-size: 18px;
  font-weight: bold;
  margin: 0px;
  margin-bottom: 10px;
}

.apple {
  position: absolute;
  height: 60px;
  width: 60px;
  margin-top: 80px;
  margin-left: 140px;
}

.play-again {
  height: 40px;
  width: 150px;
  background-color: rgb(14, 2, 1);
  box-sizing: border-box;
  border-radius: 8px;
  padding: 5px;
  font-weight: bold;
  color: rgb(231, 136, 136);
  font-size: 18px;
}

#game-start.hidden {
  display: none;
}

#game-lost.hidden {
  display: none;
}

#game-won.hidden {
  display: none;
}

